.DS_store
.eggs/
.idea/
.ipynb_checkpoints/
.pytest_cache/
**/__pycache__/
**/*.egg-info/
build/
dist/
htmlcov/
temporary/
.coverage*
out*
profile*
data/assemblies/**
data/blastdb/**
data/VCF/**
data/VCF_subsets/**
webapp/uploads/
webapp/__pycache__/
webapp/redis-stable/
webapp/instance/
webapp/setup/
webapp/trash/
webapp/log.txt
footprinting/footprinting_data/
scratch.py
