.DS_store
.eggs/
.idea/
.ipynb_checkpoints/
.pytest_cache/
build/
dist/
htmlcov/
temporary/
.coverage*
additional_cmds.md
out*
release.sh
Untitled*
src/polyoligo.egg-info/
src/polyoligo/__pycache__/
tests/__pycache__/
profile*
webapp/uploads/
webapp/__pycache__/

