<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    CRISPR
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <!-- KWARGS form -->
    <form id="crispr" method="POST" action="{{ url_for('crispr') }}" enctype="multipart/form-data">
        <div class="mandatory">
            <label>Target region</label> <i>- CHR:START-END (e.g. Fvb1-1:100000-101000)</i> <br>
            <input class="boxmedium" name="roi" type="string" placeholder="CHR:START-END" value=""><br><br>
            <label>Reference genome</label><br>
            <select name="reference">
                {% for blastdb_option in blastdb_options %}
                    <option value= "{{blastdb_option}}" {% if blastdb_option=='Fragaria x ananassa (KnappLab)' %} selected="selected"{% endif %}>{{blastdb_option}}</option>"
                {% endfor %}
            </select> - <i>A list of all chromosome/contig names is available <b><a href="{{ url_for('contig_list') }}">HERE</a></b></i>.<br><br>
            <small>Note that currently only the canonical PAM site (NGG) is supported. This may change in future releases.</small><br>
            <!-- or enter a FASTA file <input type="file" name="reference_file" ><br><br> -->
        </div>
        <br>

        <input type="submit" value="Submit"> &nbsp&nbsp&nbsp&nbsp or &nbsp&nbsp&nbsp&nbsp  </pre> <button type="reset" style="background-color:grey;">Reset</button><br><br>
    </form>
{% endblock %}
