<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ super() }}

    <style>
        .column {
            float: left;
            width: 50%;
        }

        .row {
            margin-left: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    </style>

{% endblock %}

{% block content %}
    <h2>Welcome to <b>PolyOligo</b> <small>v0.1</small> <h4> - a suite for designing oligonucleotides on polyploid and complex genomes.</h4></h2><br><br>

<h3 id="assay_arrow"><b>&uarr; Choose your assay above &uarr;</b></h3><br><br>

    <div id="summary">
        <p>
            <h4><b>Important information - please read before starting</b></h4>
            PolyOligo is available as an open-source command line interface software <b><a href="https://github.com/MirkoLedda/polyoligo">HERE</a></b>. This standalone version can be used with any reference genome and VCF file, has more features and is faster because multi-core enabled.<br><br>

            To avoid overloading the server and transferring large amount of data, we implemented the following limitations here:<br>

            <ol>
                <li>
                    Currently supported genomes are
                    <select name="reference">
                        {% for blastdb_option in blastdb_options %}
                            <option value= "{{blastdb_option}}" SELECTED>{{blastdb_option}}</option>"
                        {% endfor %}
                    </select> (more can be added upon <b><a href="https://github.com/MirkoLedda/polyoligo/issues">request</a></b>).
                </li>
                <li>The number of concurrent assay designs is capped.</li>
                <li>Mutations across populations other than strawberries cannot be used (i.e. no VCF file upload).</li>
            </ol><br>

            If you find this tool useful, please support us by citing:<br>
            <small>Ledda M., Cobo N., Lorant A., Hardigan M.A. and Knapp S.J., PolyOligo: A Bioinformatic Platform for Identifying Target DNA Sequences for the Development of Sub-Genome Specific DNA Markers in Polyploid/Complex Genomes. Poster presented at: Annual Conference of the American Society of Horticultural Sciences; 2019 July 21-25; Las Vegas, NV, USA.</small><br><br>
            For feature requests, reporting bugs or addition of reference genomes/population mutations, please fill <b><a href="https://github.com/MirkoLedda/polyoligo/issues">this form</a></b> or <b><a href="mailto:maledda@ucdavis.edu?Subject=PolyOligo%20support">contact us</a></b>.<br><br>

            <small><i><b>Disclaimer</b> We do not use cookies and under no circumstances are we using or accessing data that is uploaded to this server. Once a job completes, all files will be permanently deleted after a grace period of 24h. We simply keep track of the server usage to adjust computational resources accordingly.</i></small><br>
        <p>
    </div>

{% endblock %}
