<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h2>Welcome to <b>PolyOligo</b> - a suite for designing oligonucleotides on complex genomes</h2>
    <hr>
    <h3>Please select below the assay type you would like to design:</h3>
    <p>
        <form action="{{ url_for('pcr')}}">
            <input type="submit" value="PCR">
        </form><br>
        <form action="{{ url_for('kasp')}}">
            <input type="submit" value="KASP">
        </form><br>
        <form action="{{ url_for('caps')}}">
            <input type="submit" value="CAPS">
        </form><br>
        <form action="{{ url_for('crispr')}}">
            <input type="submit" value="CRISPR/Cas9">
        </form><br>
    </p>
{% endblock %}
