<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    KASP
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .column {
            float: left;
            width: 33.33%;
        }

        .row {
            margin-left: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        form label {
            font-size: 20px;
        }

    </style>
{% endblock %}

{% block content %}
    <!-- KWARGS form -->
    <form id="kasp" method="POST" action="{{ url_for('kasp') }}" enctype="multipart/form-data">
        <div>
            <h2>Mandatory arguments</h2>
            <label>Input markers <i>(Limited to max 100 markers)</i></label> <i>- One marker per line with columns CHR POS NAME REF ALT.</i><br>
            <textarea type="textarea" name="markers" rows="10" cols="150"></textarea><br>
            <b>OR</b> upload a text file <input type="file" name="markers_file" accept=".txt"><br>
            <label>Reference genome</label><br>
            <select name="reference">
                {% for blastdb_option in blastdb_options %}
                    <option value= "{{blastdb_option}}" SELECTED>{{blastdb_option}}</option>"
                {% endfor %}
            </select> <b>OR</b> enter a <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi">NCBI taxid</a> &nbsp <input type="text" name="ncbi_taxid">
            <hr/>
        </div>
        <div><font color="#585858">
            <h2>Optional arguments</h2>
            <label>n</label> <i>- Number of KASP assays to return per marker </i> <br>
            <input name="n" type="number" value="10"><br><br>
            <label>Depth</label> <i>- Exhaustiveness of the search </i><br>
            <select name="depth">
                <option value= "superficial">Superficial - FAST</option>
                <option value= "standard" SELECTED>Standard - STD</option>
                <option value= "deep">Deep - SLOW</option>
            </select><br><br>

            <label>Reporter dyes</label> <i>- 5'-3' DNA sequences for the reporter dyes (default is VIC/FAM) </i> <br>
            <input name="dye1" type="text" value="GAAGGTCGGAGTCAACGGATT" size="50"><br>
            <input name="dye2" type="text" value="GAAGGTGACCAAGTTCATGCT" size="50"><br><br>

            <label>&#916; Tm</label> <i>- Min T difference between primers and unwarranted substructures (e.g. hairpins, primer dimers, ...) </i><br>
            <input name="tm_delta" type="number" value="5.0"><br><br>

            <label>Strawberry populations</label> <i>- For Fragaria only ! Choose as many genetic backgrounds that apply to your assay </i>
            <div class="row">
                <div class="column">
                    <input type="checkbox" name="population0" value="F.xananassa_VCFinclude.txt" checked> <i>F. x ananassa</i><br>
                    <input type="checkbox" name="population1" value="F.chiloensis-chiloensis_VCFinclude.txt"> <i>F.chiloensis chiloensis</i><br>
                    <input type="checkbox" name="population2" value="F.chiloensis-lucida_VCFinclude.txt"> <i>F.chiloensis lucida</i><br>
                </div>
                <div class="column">
                    <input type="checkbox" name="population3" value="F.chiloensis-pacifica_VCFinclude.txt"> <i>F.chiloensis pacifica</i><br>
                    <input type="checkbox" name="population4" value="F.chiloensis-patagonica_VCFinclude.txt"> <i>F.chiloensis patagonica</i><br>
                    <input type="checkbox" name="population5" value="F.virginiana-glauca_VCFinclude.txt"> <i>F.virginiana glauca</i><br>
                </div>
                <div class="column">
                    <input type="checkbox" name="population6" value="F.virginiana-grayana_VCFinclude.txt"> <i>F.virginiana grayana</i><br>
                    <input type="checkbox" name="population7" value="F.virginiana-platypetala_VCFinclude.txt"> <i>F.virginiana platypetala</i><br>
                    <input type="checkbox" name="population8" value="F.virginiana-virginiana_VCFinclude.txt"> <i>F.virginiana virginiana</i><br>
                </div>
            </div>
            <br>

            <br>
        </font></div>
        <input type="submit" value="Submit"> &nbsp&nbsp&nbsp&nbsp or &nbsp&nbsp&nbsp&nbsp  </pre> <button type="reset" style="background-color:grey;">Reset</button><br><br>
    </form>
{% endblock %}
