<!doctype html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
            <title>PolyOligo - {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>

    <body>
        <div id="page-container">
            <div id="nav" class="navbar">
                <li><a href="{{ url_for('home') }}"><b>Home</b></a></li>
                <li><a href="{{ url_for('pcr') }}">PCR</a></li>
                <li><a href="{{ url_for('kasp') }}">KASP</a></li>
                <li><a href="{{ url_for('caps') }}">CAPS</a></li>
                <li><a href="{{ url_for('hrm') }}">HRM</a></li>
                <li><a href="{{ url_for('crispr') }}">CRISPR/Cas9</a></li>
            </div>
            <div id="content-wrap">
                <!--<center><h4><font color="red"> !! This is a development version please do not use for research !!</font><h4></center>-->
                {% block content %}
                {% endblock %}
            </div>

            <div id="footer">
                <hr>
                {% block footer %}
                    <i><b>Disclaimer</b> We do not use cookies and under no circumstances are we using or accessing data that is uploaded to this server. Once a job completes, all files will be permanently deleted after a grace period of 24h. We simply keep track of the server usage to adjust computational resources accordingly.</i><br>
                    <hr>
                    Last updated: 2020-01-28<br>
                    Provided by the <a href="https://knapp.plantsciences.ucdavis.edu/">Knapp Lab</a>. Built with Flask, Redis & Celery and powered by uWSGI, NGINX on a AWS server<br>
                    <b>&copy; Copyright 2020 to Mirko Ledda, under the <a href="https://github.com/MirkoLedda/polyoligo/blob/master/LICENSE">BSD-2 License</a></b>.
                    <br><br>
                {% endblock %}
            </div>
        </div>
    </body>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $(function(){
            $('a').each(function(){
                if ($(this).prop('href') == window.location.href) {
                    $(this).addClass('active'); $(this).parents('li').addClass('active');
                }
            });
        });
    </script>

</html>
