/* ----Body---- */
body {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

/* ----Nav bar---- */
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0
}

.navbar li {
    list-style-type: none;
}

.navbar li a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.navbar li a:hover:not(.active)
{
    background-color: #333333;
    color: white;
    text-decoration: none;
}
.navbar a.active
{
    background-color: #737373;
}

/* ----Main content---- */
#page-container {
    position: relative;
    min-height: 100vh;
    /* font-size: 15px; */
}

#content-wrap {
    margin-top: calc(50px + (90 - 50) * ((100vw - 300px) / (1600 - 300)));
    margin-left: 2%;
    width: 95%;
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    margin-left: 2%;
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 2.5rem;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

#methods {
    /* font-size: 20px; */
    /* color: gray; */
    /* margin-left: 2%; */
    /* width: 95%; */
    background-color: lightgray;
    border: 1px solid black;
    padding:10px;
    padding-left: 0px;
    padding-top: 20px;
}

#summary {
    border: 1px solid black;
    padding:10px;
}

#polyoligo {
    color: black;
}

#polyoligo:hover {
  text-decoration: none;
  color: black;
}

/* ----Console---- */
.console {
    background-color: lightgray;
    border: 1px solid black;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ----Buttons---- */
button, input[type="button"], input[type="submit"] {
    background-color: black;
    font-weight: bold;
    color: white;
    width: calc(100px + (200 - 100) * ((100vw - 300px) / (1600 - 300)));
    height: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    margin-left: 2%;
    /* font-size: 20px; */
}

/* ----Utils---- */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ----Arguments page---- */
form label {
    font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
}

form select {
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

input[type=file] {
    display: inline-block;
}

h2 {
    font-size: calc(25px + (34 - 25) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 0;
}

h3 {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 0;
}

h4 {
    font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 0;
}

input {
    background-color: lightgray;
}

.boxlarge {
    box-sizing:border-box;
    width: 100%;
}

.boxmedium {
    box-sizing:border-box;
    width: 50%;
}

.boxsmall {
    box-sizing:border-box;
    width: 25%;
}

input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 2vw;
}

textarea {
    box-sizing:border-box;
    width: 100%;
    background-color: lightgray;
}

.mandatory {
    border: 3px solid;
    margin: 2%;
    padding: 2%;
}

.optional {
    border: 3px solid grey;
    margin: 2%;
    padding: 2%;
    background-color: WhiteSmoke;
}

/* ----Column layout---- */
.column {
    float: left;
    width: 33.33%;
}

.row {
    margin-left: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
